.hero {
    height: 60vh;
    background: linear-gradient(to right, #8d0202, #ff7b00);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 28px;
    color: #ffffff;
}

.hero p {
    font-size: 16px;
    margin: 10px 0;
    color: #ffffff;
}

.btn {
    background: #0a3d62;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
}
footer p{
    position: absolute;
    bottom: 0;
    width: 100%;
}